Xft.dpi: 96
Xft.hinting: true
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.antialias: true
Xft.rgba: rgb
URxvt.font: xft:D2Coding Nerd Font Mono:pixelsize=15px:autohint=true,xft:Iosevka Nerd Font Mono:pixelsize=15px
URxvt.boldFont: xft:D2CodingBold Nerd Font Mono:pixelsize=15px:autohint=true,xft:Iosevka Nerd Font Mono:pixelsize=15px
xterm*font: xft:MesloLGS Nerd Font Mono:pixelsize=15px:autohint=true
*.alpha: 0.75
URxvt.depth: 32
URxvt.highlighTextColor: #ffffff
URxvt.background: [60]#020202
URxvt.iconFile:   /usr/share/icons/Tela-blue/scalable/apps/utilities-x-terminal.svg
Xcursor.theme: Breeze_Hacked
#include "/home/taran/.xthemes/nord"

!URxvt.transparent : 1
URxvt.shading : 100
! URxvt*fading:              30
URxvt.internalBorder:      0
URxvt.externalBorder:      0
URxvt*hlight.rend.0: fg:0 bg:7 Regular
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.scrollBar:           false

URxvt.perl-ext-common:     clipboard,keyboard-select,url-select
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste
URxvt.keysym.C-A-V: perl:clipboard:paste_escaped

 URxvt.keysym.F11:          perl:fullscreen:switch

! URxvt.keysym.Control-Shift-Down:  resize-font:smaller
! URxvt.keysym.Control-Shift-Up:    resize-font:bigger

 URxvt.colorUL: #81A1C1
 URxvt.url-launcher:        /usr/bin/google-chrome-stable
 ! URxvt.keysym.M-Delete:     perl:matcher:list

!! Enable if you want to have font's glyphs but not urxvt's builtin glyphs.
!URxvt.skipBuiltinGlyphs: true

URxvt.cursorBlink : 0

URxvt.cursorUnderline : 1

URxvt*saveLines: 4000

urxvt*blurRadius: 10
